@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["SubMessage"]</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/V-_O7nl0Ii0?si=95NqmEbDOBWgDcq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>Use this area to provide additional information.</p>
